# Konfigurasi Server
PORT=3000

# Konfigurasi MikroTik Router
MT_HOST=192.168.88.1    # Ganti dengan IP router MikroTik Anda
MT_USER=admin           # Username API MikroTik
MT_PASS=yourpassword    # Password API MikroTik
MT_PORT=8728            # Port API MikroTik (default: 8728)
